@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    /* font-family: 'Montserrat', sans-serif; */
}
body {
    font-family: 'Oswald', sans-serif;
}
:root{
    --primary-1:#2E323F;
    --primary-2:#3B4050;
    --primary-3:#6F737F;
    --primary-4:#FFFFFF;
    --primary-5:#A59678;
}

*,*::before,*::after
{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* *Typography */
.intro__title
{
    font-size: 2rem;
}

.intro__para
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.intro__btn_link
{
    font-size: 1.5rem;
}


.intro
{
    background-color:var(--primary-1);
    color:var(--primary-4);
    text-align: left;
}
#title_unq
{
    color:var(--primary-5);
}
.container
{
    /* margin:auto 0; */
    padding:2em;
}
.para
{
    margin: 2em 0;
}
.btn
{
    background-color:var(--primary-5);
    padding:0.25em 0.75em;
    border-radius: 5em;
    display: inline-block;
}
.intro__btn_link
{
    color:var(--primary-4);
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover,
.btn:focus
{
    opacity:0.75;
}

@media (min-width:700px) {
    .container
    {
        /* margin: 0 auto; */
        max-width: 1200px;  
        /* max-width: 70%; */
    }
    .intro__text
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* flex-direction: column; */
    }
    .intro__title
    {
        width:30%;
    }
    .intro__para
    {
        align-self:flex-end;
        width: 65%;
        margin-bottom: 3.5em;
    }
}
@media (min-width:700px) {
    .container
    {
        margin: 0 auto;
        max-width: 1200px;  
        /* max-width: 70%; */
    }
    .intro__text
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* flex-direction: column; */
    }
    .intro__title
    {
        width:30%;
    }
    .intro__para
    {
        align-self:flex-end;
        width: 65%;
        margin-bottom: 3.5em;
    }
}